@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;

}

.app {
  display: flex;
  position: relative;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content.with-sidebar {
  margin-left: 250px;
}

.content.without-sidebar {
  margin-left: 0;
}

.full-width .content {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

.backgroundDiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.backgroundDiv::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}


